// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 MediaTek Inc.
 * Author: Sam.Shih <sam.shih@mediatek.com>
 */

/dts-v1/;
#include "mt7987a-e87n.dtsi"
#include <dt-bindings/input/input.h>
#include "mt7987-emmc-e87n.dtsi"

/* MT7987A RFB DTS for DT overlay-based device tree */
/ {
	model = "EdgePi E87N";
	compatible = "edgepi,e87n", "mediatek,mt7987";

	chosen {
		bootargs = "console=ttyS0,115200n1 fbcon=map:off fbcon=disable root=PARTLABEL=rootfs rootwait rootfstype=squashfs,f2fs";
	};

	gpio-keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pio 1 GPIO_ACTIVE_LOW>;
			debounce-interval = <10>;
		};

		wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&pio 0 GPIO_ACTIVE_LOW>;
			debounce-interval = <10>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		led-sys {
			gpios = <&pio 4 GPIO_ACTIVE_LOW>;
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_POWER;
		};

		led-wifi {
			gpios = <&pio 3 GPIO_ACTIVE_LOW>;
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_STATUS;
		};
	};

	/* use pwm0 as led: share with fan/pwm_rgb */
	pwm_led {
		pinctrl-names = "default";
		pinctrl-0 = <&pwm_pins>;
		status = "disabled";

		led {
			pwms = <&pwm 0 50000 0>;
			max-brightness = <255>;
			active-low;
			linux,default-trigger = "default-on";
		};
	};
};

&fan {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_fan_pins>;
	compatible = "pwm-fan";
	#cooling-cells = <2>;
	cooling-levels = <0 10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 240 255>;
	pwms = <&pwm 1 50000 0>;
	status = "okay";
};

&ssusb {
	status = "okay";
};

&eth {
	status = "okay";
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_flash_pins>;
	status = "okay";

	display@0 {
		compatible = "newvisionu,nv3007";
		reg = <0>;

		regwidth = <8>;
		buswidth = <8>;
		height = <428>;
		width = <142>;
		fps = <100>;
		rotate = <270>;
		reset-gpios = <&pio 10 GPIO_ACTIVE_LOW>;
		dc-gpios = <&pio 11 GPIO_ACTIVE_HIGH>;
		// backlight = <&backlight>;
		spi-max-frequency = <52000000>;
		status = "okay";
	};
};